In [2]:
import pandas as pd
print(pd.__version__)

1.1.3

In [7]:
df = pd.DataFrame({'email':['happy@gmail.com', \
                            '1004@NAVER.COM', \
                            'manse@yahoo.co.kr']})

In [5]:
df['email_strip']  = df['email'].str.strip()  # 앞 뒤 공백을 제거
df['email_lstrip'] = df['email'].str.lstrip() # 앞 공백을 제거
df['email_rstrip'] = df['email'].str.rstrip() # 뒤 공백을 제거
df

               email        email_strip       email_lstrip       email_rstrip
0    happy@gmail.com    happy@gmail.com    happy@gmail.com    happy@gmail.com
1     1004@NAVER.COM     1004@NAVER.COM     1004@NAVER.COM     1004@NAVER.COM
2  manse@yahoo.co.kr  manse@yahoo.co.kr  manse@yahoo.co.kr  manse@yahoo.co.kr

In [9]:
df = pd.DataFrame({'email':['happy@gmail.com', \
                            '1004@NAVER.COM', \
                            'manse@yahoo.co.kr']})
df['email_pad']    = df['email'].str.pad(width=20, side='left', fillchar='_') # 지정길이 패딩
df['email_center'] = df['email'].str.center(width=20, fillchar='_') # 중앙놓고 지정길이 패딩
df['email_ljust']  = df['email'].str.ljust(width=20, fillchar='_')  # 왼쪽놓고 지정길이 패딩
df['email_rjust']  = df['email'].str.rjust(width=20, fillchar='_')  # 오른쪽놓고 지정길이 패딩
df['email_zfill']  = df['email'].str.zfill(width=20)                # 지정길이 0패딩
df

,email,email_pad,email_center,email_ljust,email_rjust,email_zfill
0,happy@gmail.com,_____happy@gmail.com,__happy@gmail.com___,happy@gmail.com_____,_____happy@gmail.com,00000happy@gmail.com
1,1004@NAVER.COM,______1004@NAVER.COM,___1004@NAVER.COM___,1004@NAVER.COM______,______1004@NAVER.COM,0000001004@NAVER.COM
2,manse@yahoo.co.kr,___manse@yahoo.co.kr,_manse@yahoo.co.kr__,manse@yahoo.co.kr___,___manse@yahoo.co.kr,000manse@yahoo.co.kr

In [11]:
df = pd.DataFrame({'email':['happy@gmail.com', \
                            '1004@NAVER.COM', \
                            'manse@yahoo.co.kr']})
# split(): 구분자를 기준으로 n개로 나눈다, expand=True이면 여러 컬럼, False이면 1개 컬럼에 리스트
df[['email_split_1', 'email_split_2']] = df['email'].str.split('@', n=1, expand=True)

# partition(): 좌측에 먼저 출현한 구분자포함 3개로 나눈다
df[['email_partition_1', 'email_partition_2', 'email_partition_3']] = df['email'].str.partition(sep='@')

# rpartition(): 우측에 먼저 출현한 구분자포함 3개로 나눈다
df[['email_rpartition_1','email_rpartition_2', 'email_rpartition_3']] = df['email'].str.rpartition(sep='@')

# rsplit(): split와 동일하며 우측부터 탐색하며 n개로 나눈다
df['email_rsplit_1']     = df['email'].str.rsplit(pat='@')
df

,email,email_split_1,email_split_2,email_partition_1,email_partition_2,email_partition_3,email_rpartition_1,email_rpartition_2,email_rpartition_3,email_rsplit_1
0,happy@gmail.com,happy,gmail.com,happy,@,gmail.com,happy,@,gmail.com,"[happy, gmail.com]"
1,1004@NAVER.COM,1004,NAVER.COM,1004,@,NAVER.COM,1004,@,NAVER.COM,"[1004, NAVER.COM]"
2,manse@yahoo.co.kr,manse,yahoo.co.kr,manse,@,yahoo.co.kr,manse,@,yahoo.co.kr,"[manse, yahoo.co.kr]"

In [12]:
df = pd.DataFrame({'email':['happy@gmail.com', \
                            '1004@NAVER.COM', \
                            'manse@yahoo.co.kr']})
df['email_lower']      = df['email'].str.lower()      # 모두 소문자로 변경
df['email_upper']      = df['email'].str.upper()      # 모두 대문자로 변경
df['email_capitalize'] = df['email'].str.capitalize() # 앞문자 대문자로 변경
df['email_title']      = df['email'].str.title()      # 단위별 앞문자 대문자로 변경
df['email_swapcase']   = df['email'].str.swapcase()   # 소문자는 대문자, 대문자는 소문자로 변경 

# 입력 패턴 또는 글자를 대체, 예제에서는 .을 _로 변경
df['email_replace']    = df['email'].str.replace(pat='.', repl='_', regex=False)
df

,email,email_lower,email_upper,email_capitalize,email_title,email_swapcase,email_replace
0,happy@gmail.com,happy@gmail.com,HAPPY@GMAIL.COM,Happy@gmail.com,Happy@Gmail.Com,HAPPY@GMAIL.COM,happy@gmail_com
1,1004@NAVER.COM,1004@naver.com,1004@NAVER.COM,1004@naver.com,1004@Naver.Com,1004@naver.com,1004@NAVER_COM
2,manse@yahoo.co.kr,manse@yahoo.co.kr,MANSE@YAHOO.CO.KR,Manse@yahoo.co.kr,Manse@Yahoo.Co.Kr,MANSE@YAHOO.CO.KR,manse@yahoo_co_kr

In [13]:
df = pd.DataFrame({'email':['happy@gmail.com', \
                            '1004@NAVER.COM', \
                            'manse@yahoo.co.kr']})
df['email_find']    = df['email'].str.find(sub='.')           # 왼쪽부터 sub값 검색후 위치반환
df['email_findall'] = df['email'].str.findall(pat='[a-zA-Z]') # 찾은 모든 값 반환
df['email_rfind']   = df['email'].str.rfind(sub='.')          # 오른쪽부터 sub값 검색후 위치반환
df['email_index']   = df['email'].str.index(sub='.')          # 왼쪽부터 sub값 검색후 위치반환
df['email_rindex']  = df['email'].str.rindex(sub='.')         # 오른쪽부터 sub값 검색후 위치반환
df

,email,email_find,email_findall,email_rfind,email_index,email_rindex
0,happy@gmail.com,11,"[h, a, p, p, y, g, m, a, i, l, c, o, m]",11,11,11
1,1004@NAVER.COM,10,"[N, A, V, E, R, C, O, M]",10,10,10
2,manse@yahoo.co.kr,11,"[m, a, n, s, e, y, a, h, o, o, c, o, k, r]",14,11,14

In [14]:
df = pd.DataFrame({'email':['happy@gmail.com', \
                            '1004@NAVER.COM', \
                            'manse@yahoo.co.kr']})
df['email_get']           = df['email'].str.get(i=0)    # 지정 위치값 반환
df['email_slice']         = df['email'].str.slice(start=0, stop=5) # 인덱스 사이 값 반환

# 인덱스 사이 값을 다른 값으로 바꾼 후 값 반환
df['email_slice_replace'] = df['email'].str.slice_replace(start=0, stop=5, repl='?')
df

               email email_get email_slice email_slice_replace
0    happy@gmail.com         h       happy         ?@gmail.com
1     1004@NAVER.COM         1       1004@          ?NAVER.COM
2  manse@yahoo.co.kr         m       manse       ?@yahoo.co.kr

In [16]:
df = pd.DataFrame({'email':['happy@gmail.com',
                            '1004@NAVER.COM',
                            'manse@yahoo.co.kr']})
df['email_isalnum']   = df['email'].str.isalnum()   # 알파벳 또는 숫자로만 구성 여부
df['email_isalpha']   = df['email'].str.isalpha()   # 알파벳으로만 구성 여부
df['email_isdecimal'] = df['email'].str.isdecimal() # 숫자문자로만 구성 여부
df['email_isdigit']   = df['email'].str.isdigit()   # 숫자문자로만 구성 여부
df['email_islower']   = df['email'].str.islower()   # 소문자로만 구성 여부
df['email_isnumeric'] = df['email'].str.isnumeric() # 숫자문자로만 구성 여부
df['email_isspace']   = df['email'].str.isspace()   # 공백(Whitespace)으로만 구성 여부
df['email_istitle']   = df['email'].str.istitle()   # TitleCase형태로 구성 여부
df['email_isupper']   = df['email'].str.isupper()   # 대문자로만 구성 여부
df

,email,email_isalnum,email_isalpha,email_isdecimal,email_isdigit,email_islower,email_isnumeric,email_isspace,email_istitle,email_isupper
0,happy@gmail.com,False,False,False,False,True,False,False,False,False
1,1004@NAVER.COM,False,False,False,False,False,False,False,False,True
2,manse@yahoo.co.kr,False,False,False,False,True,False,False,False,False

In [17]:
df = pd.DataFrame({'email':['happy@gmail.com',
                            '1004@NAVER.COM',
                            'manse@yahoo.co.kr']})
df['email_startswith'] = df['email'].str.startswith(pat='h')     # 좌측값이 입력패턴과 일치 여부
df['email_endswith']   = df['email'].str.endswith(pat='com')     # 우측값이 입력패턴과 일치 여부
df['email_contains']   = df['email'].str.contains(pat='kr', regex=False) # 값 중 패턴포함 여부
df['email_match']      = df['email'].str.match(pat='[a-zA-Z@.]') # 입력패턴과 일치 여부
df

,email,email_startswith,email_endswith,email_contains,email_match
0,happy@gmail.com,True,True,False,True
1,1004@NAVER.COM,False,False,False,False
2,manse@yahoo.co.kr,False,False,True,True